<div class="content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-body">
<h4>Historical Balance Sheet KPIs</h4>
            <table class=" table tablesorter">
              <thead>
                <tr style="color:black;">
                  <th style="text-align:left;">No</th>
                 <th style="text-align:left;">Balance Sheet Statement</th>
                </tr>
 		<tr>
	<td>1</td>
      <td>2017 - 2018 Avg. Days Sales Outstanding (DSO):</td>
      <td class="right" >37.0 
      </td>
	      <td>&nbsp;</td>
	      <td>&nbsp;</td>
	    </tr>
          <tr>
      	<td>2</td>
      <td> 2017 - 2018 Avg. Inventory Days:</td>
      <td class="right" >95.6</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
       	<td>3</td>
      <td>2017 - 2018 Avg. Other Current Assets as % of Revenue:</td>
      <td class="right" >7.9% 
      </td>
	      <td>&nbsp;</td><td>&nbsp;</td>
	    </tr>
         <tr>
     	<td>4</td>
      <td> 2017 - 2018 Avg. Days Payable Outstanding (DPO):</td>
      <td class="right">40.1 </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
       	<td>5</td>
	<td>2017 - 2018 Avg. Accrued Liabilities as % of COGS:</td>
      <td class="right" >16.0% </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
       	<td>6</td>
      <td>2017 - 2018 Avg. Other Current Liabilties as % of COGS:</td>
      <td class="right" >2.3% </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>      
              </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
<div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-body">
<h4>Projected Key Balance Sheet Metrics</h4>
            <table class=" table tablesorter">
              <thead>
                <tr style="color:black;">
                  <th style="text-align:left;">No</th>
                  <th style="text-align:left;">Balance Sheet Statement</th>
         </tr>
    
	 <tr>
		 	<td>1</td>
			      <td>2019 - 2022 Avg. Days Sales Outstanding (DSO):</td>
			            <td class="right" >37.0 
				    </td>
					          <td>&nbsp;</td>
						        <td>&nbsp;</td>
							    </tr>
							        <tr>
						<td>2</td>
					     <td> 2019 - 2022 Avg. Inventory Days:</td>
					   <td class="right" >95.6</td>
					 <td>&nbsp;</td>
					  <td>&nbsp;</td>
													    </tr>
													       <tr>
														       	<td>3</td>
															      <td>2019 - 2022 Avg. Other Current Assets as % of Revenue:</td>
															            <td class="right" >7.9% 
																    </td>
																	          <td>&nbsp;</td><td>&nbsp;</td>
																		      </tr>
																		         <tr>
																				 	<td>4</td>
																					      <td> 2019 - 2022 Avg. Days Payable Outstanding (DPO):</td>
																					            <td class="right">40.1 </td>
																						          <td>&nbsp;</td>
																							        <td>&nbsp;</td>
																								    </tr>
																								       <tr>
																									       	<td>5</td>
																										      <td>2019 - 2022 Avg. Accrued Liabilities as % of COGS:</td>
																										            <td class="right" >16.0% </td>
																											          <td>&nbsp;</td>
																												        <td>&nbsp;</td>
																													    </tr>
																													       <tr>
																														       	<td>6</td>
																															      <td>2019 - 2022 Avg. Other Current Liabilties as % of COGS:</td>
																															            <td class="right" >2.3% </td>
																																          <td>&nbsp;</td>
																																	        <td>&nbsp;</td>
																																		    </tr>



	      </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
