<div class="content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-body">
<h4>Historical P&L KPIs</h4>
            <table class=" table tablesorter">
              <thead>
                <tr style="color:black;">
                  <th style="text-align:left;">No</th>
                 <th style="text-align:left;">Income Statement (P&L)</th>
                </tr>
 <tr>
	    <tr>
	<td>1</td>
	<td>2016 - 2018 Revenue CAGR:</td>
	<td class="right">6.0%</td>
	<td>&nbsp;</td>
	<td>&nbsp;</td>
	  </tr>
	  <tr>
	<td>2</td>
      <td>2016 - 2018 COGS CAGR:</td>
      <td class="right" >8.4%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
	<td>3</td>
      <td>2016 - 2018 Gross Profit CAGR:</td>
      <td class="right" >3.2%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
	<td>4</td>
      <td>2016 - 2018 Avg. Gross Margin:</td>
      <td class="right" >44.9%</td>
      <td>&nbsp;</td><td>&nbsp;</td>
    </tr>
   <tr>
	<td>5</td>
      <td> 2016 - 2018 Avg. SG&A as % of Revenue:</td>
      <td class="right">31.6%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
	<td>6</td>
      <td>2016 - 2018 Avg. EBIT Margin:</td>
      <td class="right" >13.3%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
	<td>7</td>
      <td>2016 - 2018 Avg. D&A as % of Revenue:</td>
      <td class="right" >2.0%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
	<td>8</td>
      <td>2016 - 2018 Avg. EBITDA Margin:</td>
      <td class="right" >15.4%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
	<td>9</td>
      <td> 2016 - 2018 EBITDA CAGR:</td>
      <td class="right" >0.4%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
<div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-body">
<h4>Projected P&L  Metrics</h4>
            <table class=" table tablesorter">
              <thead>
                <tr style="color:black;">
                  <th style="text-align:left;">No</th>
                  <th style="text-align:left;">Income Statement (P&L)</th>
         </tr>
    
	          
      <tr>
	<td>1</td>
      <td>2019 - 2022 Revenue CAGR:</td>
      <td class="right">6.0%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
	<td>2</td>
      <td>2019 - 2022 Avg. Gross Margin:</td>
      <td class="right">44.0%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
	<td>3</td>
      <td>2019 - 2022 Avg. SG&A as % of Revenue:</td>
      <td class="right">32.0%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
	<td>4</td>
      <td>2019 - 2022 EBIT Margin:</td>
      <td class="right">12.0%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   <tr>
	<td>5</td>
      <td>2019 - 2022 EBITDA Margin:</td>
      <td class="right">14.0%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>

  <tr>
	  	<td>6</td>
		      <td>2019 - 2022 EBT Margin:</td>
		            <td class="right">11.7%</td>
			          <td>&nbsp;</td>
				        <td>&nbsp;</td>
					    </tr>


  <tr>
<td>7</td>
      <td>2019 - 2022 Net Income Margin:</td>
      <td class="right">9.3%</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>



	      </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
