<div class="content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-body">
<h4>Historical KPIs</h4>
            <table class=" table tablesorter">
              <thead class=" text-primary">
                <tr style="color:black;">
                  <th style="text-align:left;">No</th>
                  <th style="text-align:left;">Income Statement (P&L)  </th>
                </tr>
 <tr>
	<td>1</td>
      <td>2016 - 2018 COGS CAGR:</td>
      <td>8.4%</td>
    </tr>
    <tr>
	<td>2</td>
      <td>2016 - 2018 Gross Profit CAGR:</td>
      <td>3.2%</td>
    </tr>
   <tr>
	<td>3</td>
      <td>2016 - 2018 Avg. Gross Margin:</td>
      <td>44.9%</td>
    </tr>
   <tr>
	<td>4</td>
      <td> 2016 - 2018 Avg. SG&A as % of Revenue:</td>
      <td>31.6%</td>
    </tr>
   <tr>
	<td>5</td>
      <td>2016 - 2018 Avg. EBIT Margin:</td>
      <td>13.3%</td>
    </tr>
   <tr>
	<td>6</td>
      <td>2016 - 2018 Avg. D&A as % of Revenue:</td>
      <td>2.0%</td>
    </tr>
   <tr>
	<td>7</td>
      <td>2016 - 2018 Avg. EBITDA Margin:</td>
      <td>15.4%</td>
    </tr>
   <tr>
	<td>8</td>
      <td> 2016 - 2018 EBITDA CAGR:</td>
      <td>0.4%</td>
    </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
<div class=" row">
    <div class=" col-md-12">
      <div class=" card">

        <div class=" card-body">
<h4>Projected Key Metrics</h4>
            <table class=" table tablesorter">
              <thead class=" text-primary">
                <tr style="color:black;">
                  <th style="text-align:left;">No</th>
                  <th style="text-align:left;">Income Statement (P&L) </th>
         </tr>
     <tr>
	<td>1</td>
      <td>2019 - 2022 Revenue CAGR:</td>
      <td>6.0%</td>
    </tr>
    <tr>
	<td>2</td>
      <td>2019 - 2022 Avg. Gross Margin:</td>
      <td>44.0%</td>
    </tr>
    <tr>
	<td>3</td>
      <td>2019 - 2022 SG&A as % of Revenue:</td>
      <td>32.0%</td>
    </tr>
   <tr>
	<td>4</td>
      <td>2019 - 2022 EBIT Margin:</td>
      <td>12.0%</td>
    </tr>
   <tr>
	<td>5</td>
      <td>2019 - 2022 EBITDA Margin:</td>
      <td>14.0%</td>
    </tr>
  <tr>
<td>6</td>
      <td>2019 - 2022 Net Income Margin:</td>
      <td>9.3%</td>
    </tr>
              </thead>
            </table>
        </div>
      </div>
    </div>
  </div>
</div>
